<h1>Logs</h1>

<br>
<div class="row">
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Data</th>
          <th>Mensagem</th>
        </tr>
      </thead>
      <tbody>
      	<% @logs.each do |l| %>
	        <tr>
	          <td><%= l.created_at %></td>
            <td><%= l.description %></td>
	        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
